@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Container styling */
.profileContainer {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  animation: fadeIn 1.5s ease-in-out;
}
/* Blob styling */
.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #fcd19c;
  width: 50vmax;
  z-index: -1;
  animation: move 60s ease-in-out infinite;
  transform-origin: 50% 50%;
}
@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }
  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, -30px);
  }
}
/* Background Image styling */
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Send backgroundImage behind */
}
.profileContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  z-index: 1;
  pointer-events: none;
}
/* Hero section styling */
.heroSection {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  padding: 2rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.5s ease-in-out 0.5s backwards;
}
/* Profile image styling */
.imageWrapper {
  width: 40vw;
  height: 40vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileImage {
  width: 45vh;
  height: 45vh;
  object-fit: cover;
  transition: transform 0.3s ease;
}
/* Other sections styling */
.userName {
  font-size: 2rem;
  margin-top: 1rem;
  color: #000000;
  text-align: center;
  transition: color 0.3s ease;
}
.aboutSection,
.interestsSection {
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: #000000;
  animation: fadeIn 1.5s ease-in-out 0.7s backwards;
}
.sectionTitle {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1rem;
  text-align: center;
  transition: color 0.3s ease;
}
.sectionTitle:hover {
  color: #f2be6f;
}
.interestsList {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
}
.interestItem {
  background-color: #f7be6f;
  color: #000000;
  padding: 0.75rem;
  border-radius: 8px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.interestItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #757575;
  color: white;
}
