@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 0%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 0%;
    --primary: 153 77% 75%;
    --primary-foreground: 0 0% 0%;
    --secondary: 174 68% 76%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 46%;
    --accent: 39 96% 80%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 153 77% 75%;
    --radius: 0.5rem;
    --chart-1: 153 77% 75%;
    --chart-2: 174 68% 76%;
    --chart-3: 39 96% 80%;
    --chart-4: 49 100% 82%;
    --chart-5: 0 0% 46%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;
    --primary: 153 84% 69%;
    --primary-foreground: 0 0% 0%;
    --secondary: 174 89% 78%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 36 95% 73%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 153 84% 69%;
    --chart-1: 153 84% 69%;
    --chart-2: 174 89% 78%;
    --chart-3: 36 95% 73%;
    --chart-4: 50 100% 76%;
    --chart-5: 0 0% 46%;
  }

  
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
